.slider-container {
    display: flex;
    width: 340px;
    height: 69px;
    position: relative;
    background: #7A82B9;
    box-shadow: 0px 1.257px 1.257px 0px rgba(0, 0, 0, 0.25) inset;
    height: 69px;
    border-radius: 43px;
    flex-shrink: 0;
    align-items: center;
    gap: 28px;
    /*overflow: hidden;*/
    /*padding: 0 15px;*/
    
  }
  
  .start-slider {
    position: absolute;
    width: 100%;
    opacity: 0;
    z-index: 2;
  }
  
  .slider-overlay {
    background: var(--BtnBG, linear-gradient(90deg, #EAD8F3 0%, #E5EDFF 100%));
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #596AE3;
    border-color: #7A82B9;
    padding: 12px 20px;
    border-radius: 38px;
    border-style:solid;
    border-width: 3px;
    height: 100%;
    width: 75%;
    /*box-shadow: 0px 4px 10px #596AE3;*/
    
    transition: left 0.1s ease-in-out;
    z-index: 1;
  }
  
  .slider-text {
    width: 100%;
    color: #596AE3;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 96%; /* 18.105px */
    letter-spacing: -1px;
  }
  
  .slider-icon {
    font-size: 24px;
  }
  
  /* Flechas en los extremos */
  .slider-arrow {
    font-size: 30px;
    color: #aaa;
  }
  
  .slider-arrow.left {
    position: absolute;
    left: 10px;
  }
  
  .slider-arrow.right {
    position: absolute;
    right: 10px;
    z-index: 0;
  }
  
  /* Ajustes para móviles */
  /*@media (max-width: 768px) {
    .slider-overlay {
      font-size: 0.9rem;
      width: 140px;
      height: 100%;
    }

  }*/